h1{
  color: red;
  font-size: 60px;
  text-align: center;

}
.img{
  width: 40vw;
  margin: 30px auto;
  height: 40vh;
  display: block;
}
.paragraph{
  color: #555;
  font-size: 30px;
}
.date{
  font-size: 25px;
  color:blue ;
}
a{
  font-size: 30px;
  color: rgb(110, 126, 110);
}
div{
  background-color: rgb(103, 103, 251);
  text-align: center;
}
div a{
  color: aliceblue;
}
